@model hIndexModel
@{
    string key = ViewBag.Key;
    string forID = Model.GetElementName("FilterInput_" + key);
}

<label class="col-sm-2 col-form-label col-form-label-sm text-md-right text-sm-left" for="@forID">
    @Model.Names[key]
</label>
<div class="col-sm-4 mb-2">
    <input type="checkbox" asp-for="@Model.FilterValues[key]" id="@forID" class="form-control form-control-sm">
</div>

